
.container{
    border: 5px solid crimson;
    background-color: #FFF;

    display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 75px 75px 75px;

    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main" ;

    place-content: center;
}

.item{
    /* border: 5px solid deepskyblue; */
    font-size: 4rem;
}

.item-1{
    border: 5px solid deepskyblue;
    background-color: bisque;

    
    /* Definir área con start y end */
    /* grid-column-start: 1;
    grid-column-end: 4; */
    
    /* Definir área desde area */
    grid-area: header;
}

.item-2{
    border: 5px solid blueviolet;
    background-color: bisque;

    /* Definir área con start y end */
    /* grid-row-start: 2;
    grid-row-end: 4; */

    /* forma abrevada: */
    /* grid-row: 2 / 4; */

    /* Definir áres desde área */
    grid-area: sidebar;

}

.item-3{
    border: 5px solid darkblue;
    background-color: bisque;

    /* Definir área con start y end */
    /* grid-area: 2 / 2 / 4 / 4; */

    /* Definir áres desde área */
    grid-area: main;
}