*{
    font-family: 'Roboto', 'san-serif';
}

main{
    margin: 0 auto;
    max-width: 80%;
}

/* Section hero */
.hero{
    display: grid;
    grid-auto-rows: 550px;
    grid-template-columns: minmax(300px, 2fr) 3fr;
}

.info{
    align-self: center;
}

.info-title{
    color: #333;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.info-subtitle{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.info-button{
    background-color: #FB8C00;
    border-radius: 20px;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bolder;
    padding: 12px 24px;
}

.hero-image{
    height: 100%;
    object-fit: contain;
    width: 100%;
    align-self: center;
}

/* Section services */
.services{
    margin: 50px 0;
}

.services-title{
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.services-grid{
    display: grid;
    gap: 20px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.dish-item{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.dish-item__big{
    grid-area: 1 / 1 / 3 / 3;
}

/* section plates */

.plates{
    margin: 50px 0;
}

.plates-title{
    color: #333;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 25px;
    text-align: center;
}

.plates-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 20px;
}

.plate-item{
    background-color: rgba(255, 182, 193, 0.404);
    padding: 5px;
    border-top-left-radius: 40px;
}

.plate-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:768px) {

    .hero{
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }

    .hero-image{
        display: none;
    }

    .services-grid{
        grid-template-columns: repeat( auto-fit, minmax(75px, 150px));
    }
    
}