.flexRow.flexRow--last-row{background-color: #131313;}
.flexRow.flexRow--bkg-gray{background-color: #ecedef;}

.flexColChild.flexColChild--col-monster-center{
    align-items: center;
    margin: 0 auto;
}
