
html, body{
    background-color: #21232A;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    padding: 20px;
}

button{
    background-color: #21232A;
    border-color: #FFF;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 6px;
    padding: 10px 35px;
}
button:hover{
    background-color: #FFF;
    border-color: #21232A;
    color: #21232A;
}