<div class="content1">
    <!-- Content-1 -->
    <div class="row">
      <!-- IMG 1 under monster -->
      <div class="col bkg-img-um-1">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c1-i1" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c1-i1" placeholder="IMG - 1">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c1-i1" placeholder="Alt + Title">
            </div>
          </div>
        </form>
      </div>
      <!-- IMG 2 under monster -->
      <div class="col bkg-img-um-2">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c1-i2" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c1-i2" placeholder="IMG - 2">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c1-i2" placeholder="Alt + Title">
            </div>
            <div class="col-sm-12">
              <center><button onclick="copiarContentUno();" type="button" class="btn btn-info btn-sm"><i class="fa fa-clipboard" aria-hidden="true"></i> Content 1</button></center>
            </div>
          </div>
        </form>
      </div>
      <!-- IMG 3 under monster -->
      <div class="col bkg-img-um-3">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c1-i3" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c1-i3" placeholder="IMG - 3">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c1-i3" placeholder="Alt + Title">
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>