<!-- Content 3 -->
<div class="content3">
    <div class="row">
      <div class="col bkg-monster-2 pad-14">
        <form>
        <div class="form-group row">
          <div class="col-12">

          <!--=============================================>>>>>
          = Toggles para seleccionar monster o video =
          ===============================================>>>>-->
          <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
            <label id="check-monster-opt1" class="btn btn-info active">
              <input onclick="selectorElementos( 'check-monster-opt1', 'check-monster-opt2', 'form-monster', 'form-video' );" type="radio" name="options" autocomplete="off"> Generar Imagen</label>
            <label id="check-monster-opt2" class="btn btn-info">
              <input onclick="selectorElementos( 'check-monster-opt1', 'check-monster-opt2', 'form-monster', 'form-video' );" type="radio" name="options" autocomplete="off">Generar Video</label>
          </div>
          <!--= End of Toggles para seleccionar monster o video =*/-->
          <!--=============================================<<<<<-->

          </div>
        </div>
        <!-- Form Genera Banner -->
        <div class="inactive" id="form-monster">
          <div class="form-group row">
            <div style"padding-top:0% !important;" class="col-6">
              <!-- URL Monsterbanner -->
              <input type="text" class="form-control form-control-sm" id="url-monsterbanner-down" name="url-monsterbanner" placeholder="URL">
            </div>

            <!-- Alt + Title Monsterbanner -->
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="alt-monsterbanner" name="alt-monsterbanner" placeholder="Alt + Title">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <!-- IMG Desktop -->
              <input type="text" class="form-control form-control-sm" id="img-monsterbanner" name="img-monsterbanner" placeholder="IMG Banner">
            </div>
          </div>

          <div class="col-sm-12">
            <center><button onclick="copiarContentTres();" type="button" class="btn btn-info btn-sm"><i class="fa fa-clipboard" aria-hidden="true"></i> Content 3</button></center>
          </div>
        </div>

        <!-- Form Genera Video -->
        <div class="inactive" id="form-video">
          <div class="form-group row">
            <div style"padding-top:0% !important;" class="col-6">
              <!-- URL Video -->
              <input type="text" class="form-control form-control-sm" id="url-c3-video" name="url-video" placeholder="URL Video">
            </div>
            <div style"padding-top:0% !important;" class="col-6">
              <!-- ID Video -->
              <input type="text" class="form-control form-control-sm" id="id-c3-video" name="id-video" placeholder="ID Video">
            </div>
            <div class="col-sm-12">
              <center><button onclick="copiarContentTres();" type="button" class="btn btn-info btn-sm"><i class="fa fa-clipboard" aria-hidden="true"></i> Content 3</button></center>
            </div>
        </div>
      </form>
    </div>
  </div>

    <div class="row">
      <div class="col bkg-c3-i1">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c3-i1" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c3-i1" placeholder="IMG - 1">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c3-i1" placeholder="Alt + title">
            </div>
          </div>
        </form>
      </div>

      <div class="col bkg-c3-i2">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c3-i2" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c3-i2" placeholder="IMG - 2">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c3-i2" placeholder="Alt + title">
            </div>
          </div>
        </form>
      </div>
      <div class="col bkg-c3-i3">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c3-i3" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c3-i3" placeholder="IMG - 3">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c3-i3" placeholder="Alt + title">
            </div>
          </div>
        </form>
      </div>
      <div class="col bkg-c3-i4">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="url-c3-i4" placeholder="URL">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="img-c3-i4" placeholder="IMG - 4">
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control form-control-sm" id="alt-c3-i4" placeholder="Alt + title">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>